@using HYR_Blog.CoreLayer.Dtos.ProductDto
@using HYR_Blog.CoreLayer.Utilities.Other.Directories
@model List<IndexProductDto>
@{
    var a = Model.Count();
}
@if (Model == null || Model.Count < 4)
{

}
else
{
    <div class="col-lg-9 col-md-9 col-xs-12 pr order-1 d-block">
        <div class="slider-widget-products">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one"> @Model.FirstOrDefault().CategoryName"</span>
                    <h3 class="card-title"></h3>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (i > 4)
                                {
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a asp-page="product" asp-route-slug ="@Model[i].Slug" class="d-block hover-img-link">
                                                <img src="@FileManage.GetProductImageByName(Model[i].FirstImageName)" class="img-fluid" alt="">
                                            </a>
                                            <h2 class="post-title">
                                                <a asp-page="product" asp-route-slug="@Model[i].Slug">
                                                    @Model[i].ProductName
                                                </a>
                                            </h2>
                                            <div class="price">
                                                @if (Model[i].PriceByDiscount == null)
                                                {
                                                    <ins><span>@Model[i].Prise.ToString("n0")<span>تومان</span></span></ins>
                                                }
                                                else
                                                {
                                                    
                                                    <del><span>@Model[i].Prise.ToString("n0")<span>تومان</span></span></del>
                                                    <ins><span>@Model[i].PriceByDiscount.ToString("n0")<span>تومان</span></span></ins>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a asp-page="product" asp-route-slug="@Model[i].Slug" class=" d-block hover-img-link">
                                                <img src="@FileManage.GetProductImageByName(Model[i].FirstImageName)" class="img-fluid" alt="">
                                            </a>
                                            <h2 class="post-title">
                                                <a asp-page="product" asp-route-slug="@Model[i].Slug">
                                                    @Model[i].ProductName
                                                </a>
                                            </h2>
                                            <div class="price">
                                                @if (Model[i].PriceByDiscount == null || Model[i].PriceByDiscount == 0)
                                                {
                                                    <ins><span>@Model[i].Prise.ToString("n0")<span>تومان</span></span></ins>
                                                }
                                                else
                                                {
                                                    <del><span>@Model[i].Prise.ToString("n0")<span>تومان</span></span></del>
                                                    <ins><span>@Model[i].PriceByDiscount.ToString("n0")<span>تومان</span></span></ins>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
}

@await Component.InvokeAsync("SpecialProduct")
<!-- slider-moment------------------------->
